.search-input {
    border-radius: 0px;
    width: 100%;
}
.addproduct-buttons{
    display: flex;
    width: 45%;
    margin-top: 10px;
    margin: auto;
    justify-content: space-between;
    align-items: center;    
}
.right-section{
    display: flex;
    gap: 15px;
}
.logout-button{
    max-width: 100px;
}
.right-menu{
    justify-content: space-between;
    width: 50%;
}
.search-input{
    width: 40%;
    border: 1px solid #5f5f5f;
    border-radius: 5px;
    padding-left: 10px;
}